
nav {
    background-color: gray;
}
nav p {
    margin-left: 5%;
}
.dropdown {
    position: relative;
    margin-right: 5%;
}
nav div.dropdown ul.dropdown-content {
    display: none;
}
nav div.dropdown ul.dropdown-content li {
    list-style-type: none;
}
nav div.dropdown ul.dropdown-content li a {
    text-decoration: none;
    color: black;
    
}
nav div.dropdown ul.dropdown-content li a:hover {
    background-color: white;
}
main article {
    background-color:burlywood;
    border: 2px solid black ;
}
@media only screen and (min-width:576px) {
    nav div.dropdown {
        display: none;
    }
}
